*{margin:1px;padding:1px}
header{background-color: rgba(85, 29, 150, 0.904);padding: 10px;}

/*CONFIGURAÇÃO DE FONTE COSTUMIZADA*/
@font-face {
    font-family:"Amudettehigth";
    src: url("fontes/AmusetteHighStencil-Regular.woff");}

h1{color:rgb(59, 194, 235);text-align:center;}

img{position:relative;top:0;left:0 ;}
body{background-color: rgba(66, 9, 119, 0.959);}

/*ESTILIZAÇÃO DE BARRA DE NAVEGAÇÃO HORIZONTAL*/
nav{border:solid 1px;}
nav a{color:rgb(59,194,235);text-decoration-line:none;padding: 0 1em;}
nav ul{display: flex; list-style:none}

/*ESTILIZAÇÃO DE BARRA DE PESQUISA*/
form{border:solid 1px; text-align: center;}

/*BLOCO DE CODIGO QUE DEIXA A DIV CENTRALIZADA*/
.Nome{width:100%;            
    display:flex;                               
    justify-content: center;
    line-height:1px ;}

