*{margin:1px;padding:1px}
header{background-color: rgba(85, 29, 150, 0.904);padding: 10px;}

/*CONFIGURAÇÃO DE FONTE COSTUMIZADA*/
@font-face {
    font-family:"Amudettehigth";
    src: url("fontes/AmusetteHighStencil-Regular.woff");}

/*ESTILIZAÇÃO BARRA DE PESQUISA*/
label{cursor: pointer;}
input{width:30em ;height:2em;}/*definição de largura e altura*/

h1{color:rgb(59, 194, 235);text-align:center;}

img{position:relative;top:0;left:0 ;}
body{background-color: rgba(165, 77, 248, 0.959);}

/*ESTILIZAÇÃO DE BARRA DE NAVEGAÇÃO HORIZONTAL*/
/*nav{border:solid 1px;}
nav a{color:rgb(59,194,235);text-decoration-line:none;padding: 0 1em;}
nav ul{display: flex; list-style:none}*/

/*ESTILIZAÇÃO DE BARRA DE PESQUISA*/
form{text-align: center;}

/*BLOCO DE CODIGO QUE DEIXA A DIV CENTRALIZADA*/
#Nome{width:100%;            
      display:flex;                               
      justify-content: center;
      line-height:2px;}

/*MEDIA QUERIES*/
@media (min-width:576px){body{background-color:rgba(152, 74, 224, 0.959);}} /* Tamanho para celulares*/
@media (max-width:575px){body{background-color:rgba(134, 57, 206, 0.959)}} 

article{background-color: rgba(71, 29, 150, 0.733);}
section{width:100;height:200px}

contrainer {border:solid red 1px ;}